---
traefik_config:
  # Global configuration
  checkNewVersion: true
  api:
    basePath: /traefik   # so now api and dashboard will be accessible by /traefik/{api, dashboard}
    dashboard: true
    insecure: false

  log:
    level: INFO

  accesslog:
    addInternals: true

  # Entrypoints configuration
  entryPoints:
    web:
      address: :80
      http:
        redirections:
          entryPoint:
            to: websecure
            scheme: https
    websecure:
      address: :443
      http:
        tls:
          certResolver: acmeDNS

  certificatesResolvers:
    acmeTLS:
      acme:
        email: s@sbog.org
        storage: /etc/traefik/ssl-certs/acme.json
        tlsChallenge: true
        #caserver: https://acme-v02.api.letsencrypt.org/directory
    acmeDNS:
      acme:
        email: s@sbog.org
        storage: /etc/traefik/ssl-certs/acme.json
        dnsChallenge:
          provider: cloudflare
          resolvers:
            - 1.1.1.1:53
            - 8.8.8.8:53
        #caserver: https://acme-v02.api.letsencrypt.org/directory

  # Providers configuration
  providers:
    swarm:
      endpoint: unix:///var/run/docker.sock
      watch: true
      exposedbydefault: false
    file:
      directory: "{{ traefik_host_confdir }}/dynamic-conf"
      watch: true

traefik_ports:
  - "80:80"
  - "443:443"

traefik_environment_vars:
  - CF_API_EMAIL={{ vault_tls_host.acme_ch_dns_vars.CF_Email }}
  - CF_API_KEY={{ vault_tls_host.acme_ch_dns_vars.CF_Key }}

traefik_docker_network_name: tf_net
traefik_docker_networks:
  tf_net:
    name: "tf_net"
    external: true

traefik_swarm_cluster: true
# traefik_swarm_manager value is inventory/hosts name, not actual DNS one
traefik_swarm_manager: us03.sbog.org
traefik_web_host: us03.sbog.ru

traefik_dynamic_confs:
  global_basicauth.yml: "{{ vault_traefik_global_basicauth }}"
