---
traefik_environment_vars:
  - CF_API_EMAIL={{ vault_tls_host.acme_ch_dns_vars.CF_Email }}
  - CF_API_KEY={{ vault_tls_host.acme_ch_dns_vars.CF_Key }}

traefik_docker_network_name: tf_net
traefik_swarm_cluster: true
# traefik_swarm_manager value is inventory/hosts name, not actual DNS one
traefik_swarm_manager: us02.sbog.org
traefik_web_host: us02.sbog.ru

traefik_global_basicauth: "{{ vault_traefik_global_basicauth }}"

traefik_docker_networks:
  tf_net:
    name: "tf_net"
    external: false
