---
ansible_host: "{{ vault_ansible_host }}"
ansible_port: 22
ansible_user: sbog
ansible_become: true

# Let's Encrypt vars
le_domain_names:
  - "mail.{{ ansible_host }}"
  - "smtp.{{ ansible_host }}"
  - "imap.{{ ansible_host }}"
  - "pa.mail.{{ ansible_host }}"
le_acme_tool: acme.sh
le_stop_service: nginx

# Mail vars
mail_domain: "{{ ansible_host }}"
mail_hostname: "mail.{{ ansible_host }}"
mail_ssl_enabled: true
check_policy:
  enabled: true
  address: "127.0.0.1"
  port: 10023
dkim:
  enabled: false
  milter_address: "127.0.0.1"
  milter_port: 8891
spamassassin:
  enabled: false
postfix_db_user: postfix
postfix_db_password: postfixpassword
postfix_db_host: "127.0.0.1"
postfix_db_name: postfix
mysql_port: 3306
mysql_bind_address: "127.0.0.1"
mysql_root_db_pass: mysqlroot
mysql_users:
  - name: postfix
    pass: postfixpassword
    priv: "postfix.*:ALL"
  - name: postfixadmin
    pass: pfxadmpass
    priv: "postfix.*:ALL"
mysql_db:
  - name: postfix
    replicate: no
postfixadmin_db_password: pfxadmpass
postfixadmin_superuser: admin
postfixadmin_superpass: adminpassword
# Dovecot additional vars
mx_hosts:
  - "mail.{{ ansible_host }}"
  - "smtp.{{ ansible_host }}"
  - "imap.{{ ansible_host }}"

# Sudoers vars
sudoer_rewrite_sudoers_file: True
sudoer_remove_unauthorized_specs: True
sudoer_separate_specs: True
sudoer_separate_specs_cleanup: True
sudoer_backup: True
sudoer_specs:
  - name: 10-deployer
    comment: "Deployer can do anything"
    users: deployer
    hosts: ALL
    operators: ALL
    tags: NOPASSWD
    commands: ALL
  - name: 20-admins
    comment: "Root escalation allowed for admin group with password"
    users: '%admin'
    hosts: ALL
    operators: ALL
    commands: ALL
  - name: 30-sudo
    comment: "Root escalation allowed for sudo group without password"
    users: '%sudo'
    hosts: ALL
    operators: ALL
    tags: NOPASSWD
    commands: ALL
